footer {
  a {
    color: $light-blue;
  }

  .footer-navigation {
    padding: 112px 0 104px 0;
  }

  #footer-logo {
    order: 1;

    img {
      width: 185.5px;
      height: 28px;
      @media (max-width: 925px) {
        max-width: 150.5px;
      }
    }
  }

  #footer-menu-1 {
    order: 2;

    li {
      margin: 0 0 8px 0;
      a {
        color: $light-grey;
      }
    }
  }

  #footer-menu-2 {
    order: 3;

    color: $light-grey;

    .body-short {
      margin-bottom: 8px;
    }

    .body-small:not(:last-child) {
      margin-bottom: 24px;
    }

    .body-small {
      opacity: 70%;
    }
  }

  #footer-menu-3 {
    order: 4;

    color: $light-grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .body-short {
      margin-bottom: 8px;
    }

    .body-small:not(:last-child) {
      margin-bottom: 24px;
    }
    .body-small {
      opacity: 70%;
    }

    .links {
      display: flex;
      flex-direction: column;
      gap: 8px;

      a {
        margin-bottom: 0;
        font-size: $font-size-body-small-desktop !important;
        color: $light-blue !important;
        @media (max-width: $container-width-tablet) {
          font-size: $font-size-body-small-tablet !important;
        }
        @media (max-width: $container-width-mobile) {
          font-size: $font-size-body-small-mobile !important;
        }
      }
    }
  }

  .footer-content {
    color: $light-grey;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  @media (max-width: $container-width-tablet) and (min-width: $container-width-mobile) {
    body:not(.telescop) {
      .footer-navigation {
        padding: 64px 0 24px 0;
      }

      #footer-logo {
        img {
          max-width: 107px;
          width: 100%;
        }
      }

      #footer-menu-1 {
        order: 3;
        transform: translateY(-116%);
      }

      #footer-menu-2 {
        order: 2;
      }

      #footer-menu-3 {
        .links {
          margin-top: 24px;
        }
      }
    }
  }

  @media (max-width: $container-width-mobile) {
    .footer-navigation {
      padding: 64px 0 56px 0;
    }

    #footer-logo {
      img {
        max-width: 139px;
        width: 100%;
      }
    }

    #footer-logo {
      margin-bottom: 35px;
    }

    #footer-menu-1 {
      margin-bottom: 40px;
    }

    #footer-menu-3 {
      .links {
        margin-top: 24px;
      }
    }

    .footer-content {
      padding-top: 32px;
      padding-bottom: 64px;
    }
  }
}

body.telescop {
  footer {
    #footer-menu-3 {
      .links {
        a {
          @media (max-width: $container-width-mobile-telescop) {
            font-size: $font-size-body-small-mobile-telescop !important;
          }
        }
      }
    }
    @media (max-width: $container-width-tablet) and (min-width: $container-width-mobile-telescop) {
      .footer-navigation {
        padding: 64px 0 24px 0;
      }

      #footer-logo {
        img {
          max-width: 107px;
          width: 100%;
        }
      }

      #footer-menu-1 {
        order: 3;
        transform: translateY(-116%);
      }

      #footer-menu-2 {
        order: 2;
      }

      #footer-menu-3 {
        .links {
          margin-top: 24px;
        }
      }
    }
    @media (max-width: $container-width-mobile-telescop) {
      .footer-navigation {
        padding: 64px 0 56px 0;
      }

      #footer-logo {
        img {
          max-width: 139px;
          width: 100%;
        }
      }

      #footer-logo {
        margin-bottom: 35px;
      }

      #footer-menu-1 {
        margin-bottom: 40px;
      }

      #footer-menu-3 {
        .links {
          margin-top: 24px;
        }
      }

      .footer-content {
        padding-top: 32px;
        padding-bottom: 64px;
      }
    }
  }
}
