@import "colors";

$grid-columns-desktop: 20;
$grid-columns-tablet: 20;
$grid-columns-mobile: 12;
$container-width-desktop-2k: 2560px;
$container-width-desktop-lg: 1920px;
$container-width-desktop: 1440px;
$container-width-tablet: 768px;
$container-width-mobile: 391px;
$margin-desktop: 40px;
$margin-tablet: 24px;
$margin-mobile: 24px;
$gutter: 8px;

body {
  margin: 0;
  position: relative;
  margin: 0;
  height: 100vh;
}

body > .grid {
  max-width: $container-width-desktop-lg;
  margin: 0 auto;
  background: linear-gradient(
      to right,
      transparent 40px,
      $blue-main-30 40px,
      $blue-main-30 41px,
      transparent 40px,
      transparent calc((40px + (100% - $margin-desktop * 2 + $gutter) / 4)),
      $blue-main-30 calc((40px + (100% - $margin-desktop * 2 + $gutter) / 4)),
      $blue-main-30
        calc((40px + (100% - $margin-desktop * 2 + $gutter) / 4) + 1px),
      transparent calc((40px + (100% - $margin-desktop * 2 + $gutter) / 4)),
      transparent
        calc((40px + ((100% - $margin-desktop * 2 + $gutter) / 4) * 2)),
      $blue-main-30
        calc((40px + ((100% - $margin-desktop * 2 + $gutter) / 4) * 2)),
      $blue-main-30
        calc((40px + ((100% - $margin-desktop * 2 + $gutter) / 4) * 2) + 1px),
      transparent
        calc((40px + ((100% - $margin-desktop * 2 + $gutter) / 4) * 2)),
      transparent
        calc((40px + ((100% - $margin-desktop * 2 + $gutter) / 4) * 3)),
      $blue-main-30
        calc((40px + ((100% - $margin-desktop * 2 + $gutter) / 4) * 3)),
      $blue-main-30
        calc((40px + ((100% - $margin-desktop * 2 + $gutter) / 4) * 3) + 1px),
      transparent
        calc((40px + ((100% - $margin-desktop * 2 + $gutter) / 4) * 3))
    ),
    linear-gradient(
      to left,
      transparent 40px,
      $blue-main-30 40px,
      $blue-main-30 41px,
      transparent 41px
    );

  @media (max-width: $container-width-tablet) {
    background: linear-gradient(
        to right,
        transparent 24px,
        $blue-main-30 24px,
        $blue-main-30 25px,
        transparent 24px,
        transparent calc((24px + (100% - $margin-tablet * 2 + $gutter) / 4)),
        $blue-main-30 calc((24px + (100% - $margin-tablet * 2 + $gutter) / 4)),
        $blue-main-30
          calc((24px + (100% - $margin-tablet * 2 + $gutter) / 4) + 1px),
        transparent calc((24px + (100% - $margin-tablet * 2 + $gutter) / 4)),
        transparent
          calc((24px + ((100% - $margin-tablet * 2 + $gutter) / 4) * 2)),
        $blue-main-30
          calc((24px + ((100% - $margin-tablet * 2 + $gutter) / 4) * 2)),
        $blue-main-30
          calc((24px + ((100% - $margin-tablet * 2 + $gutter) / 4) * 2) + 1px),
        transparent
          calc((24px + ((100% - $margin-tablet * 2 + $gutter) / 4) * 2)),
        transparent
          calc((24px + ((100% - $margin-tablet * 2 + $gutter) / 4) * 3)),
        $blue-main-30
          calc((24px + ((100% - $margin-tablet * 2 + $gutter) / 4) * 3)),
        $blue-main-30
          calc((24px + ((100% - $margin-tablet * 2 + $gutter) / 4) * 3) + 1px),
        transparent
          calc((24px + ((100% - $margin-tablet * 2 + $gutter) / 4) * 3))
      ),
      linear-gradient(
        to left,
        transparent 24px,
        $blue-main-30 24px,
        $blue-main-30 25px,
        transparent 25px
      );
  }

  @media (max-width: $container-width-mobile) {
    background: linear-gradient(
        to right,
        transparent 24px,
        $blue-main-30 24px,
        $blue-main-30 25px,
        transparent 24px,
        transparent calc((24px + (100% - $margin-tablet * 2 + $gutter) / 3)),
        $blue-main-30 calc((24px + (100% - $margin-tablet * 2 + $gutter) / 3)),
        $blue-main-30
          calc((24px + (100% - $margin-tablet * 2 + $gutter) / 3) + 1px),
        transparent calc((24px + (100% - $margin-tablet * 2 + $gutter) / 4)),
        transparent
          calc((24px + ((100% - $margin-tablet * 2 + $gutter) / 3) * 2)),
        $blue-main-30
          calc((24px + ((100% - $margin-tablet * 2 + $gutter) / 3) * 2)),
        $blue-main-30
          calc((24px + ((100% - $margin-tablet * 2 + $gutter) / 3) * 2) + 1px),
        transparent
          calc((24px + ((100% - $margin-tablet * 2 + $gutter) / 3) * 2)),
        transparent
          calc((24px + ((100% - $margin-tablet * 2 + $gutter) / 3) * 3))
      ),
      linear-gradient(
        to left,
        transparent 24px,
        $blue-main-30 24px,
        $blue-main-30 25px,
        transparent 25px
      );
  }
}

.container {
  width: 100%;
  max-width: $container-width-desktop-lg;
  margin: 0 auto;
  box-sizing: border-box;
  padding-left: $margin-desktop;
  padding-right: $margin-desktop;
  display: grid;
  gap: $gutter;

  @media (max-width: $container-width-desktop) {
    // max-width: $container-width-desktop;
  }

  @media (max-width: $container-width-tablet) {
    // max-width: $container-width-tablet;
    padding-left: $margin-tablet;
    padding-right: $margin-tablet;
  }

  @media (max-width: $container-width-mobile) {
    // max-width: $container-width-mobile;
    padding-left: $margin-mobile;
    padding-right: $margin-mobile;
  }
}

.row {
  display: grid;
  grid-template-columns: repeat($grid-columns-desktop, 1fr);
  gap: $gutter;

  // row-grap: 8px;
  margin-bottom: $gutter;

  @media (max-width: $container-width-tablet) {
    grid-template-columns: repeat($grid-columns-tablet, 1fr);
  }

  @media (max-width: $container-width-mobile) {
    grid-template-columns: repeat($grid-columns-mobile, 1fr);
  }
}

.row:last-child {
  margin-bottom: 0;
}

// Добавляем классы для контроля видимости строк
.row-lg,
.row-md,
.row-sm {
  display: none;
}

.row-lg {
  @media (min-width: 769px) {
    display: grid;
  }
}

.row-md {
  @media (min-width: 391px) and (max-width: $container-width-tablet) {
    display: grid;
  }
}

.row-sm {
  @media (max-width: $container-width-mobile) {
    display: grid;
  }
}

@for $i from 1 through 20 {
  .col-#{$i} {
    grid-column: span $i;
  }
}

.col-0 {
  display: none;
}

@media (max-width: $container-width-tablet) {
  @for $i from 1 through 20 {
    .col-md-#{$i} {
      display: block;
      grid-column: span $i;
    }
  }
}

@media (max-width: $container-width-mobile) {
  @for $i from 1 through 12 {
    .col-sm-#{$i} {
      display: block;
      grid-column: span $i;
    }
  }
}
