// typography.scss

// Шрифты
$font-family-book: "SuisseIntl", sans-serif;
$font-family-regular: "SuisseIntl", sans-serif;
$font-family-medium: "SuisseIntl", sans-serif;

// Размеры шрифтов (desktop)
$font-size-h1-desktop: min(
  5.55555555556vw,
  80px
); // 80px / 1440px * 100vw = 5.56vw, но не больше 80px
$font-size-h2-desktop: min(
  3.61111111111vw,
  52px
); // 52px / 1440px * 100vw = 3.61vw, но не больше 52px
$font-size-h3-desktop: min(
  2.22vw,
  32px
); // 32px / 1440px * 100vw = 2.22vw, но не больше 32px
$font-size-h4-desktop: min(
  1.67vw,
  24px
); // 24px / 1440px * 100vw = 1.67vw, но не больше 24px
$font-size-body-long-desktop: min(
  1.25vw,
  18px
); // 18px / 1440px * 100vw = 1.25vw, но не больше 18px
$font-size-body-short-desktop: min(
  1.25vw,
  18px
); // 18px / 1440px * 100vw = 1.25vw, но не больше 18px
$font-size-link-desktop: min(
  1.11vw,
  16px
); // 16px / 1440px * 100vw = 1.11vw, но не больше 16px
$font-size-body-small-desktop: min(
  0.97vw,
  14px
); // 14px / 1440px * 100vw = 0.97vw, но не больше 14px
$font-size-explanation-text-m-desktop: 12px;
$font-size-explanation-text-s-desktop: 8px;

// Размеры шрифтов (mobile+tablet)
$font-size-h1-tablet: min(
  5.20833333333vw,
  40px
); // 40px / 768px * 100vw = 5.21vw, но не больше 40px
$font-size-h2-tablet: min(
  4.16666666667vw,
  32px
); // 32px / 768px * 100vw = 4.17vw, но не больше 32px
$font-size-h3-tablet: min(
  2.60416666667vw,
  20px
); // 20px / 768px * 100vw = 2.60vw, но не больше 20px
$font-size-h4-tablet: min(
  2.34375vw,
  18px
); // 18px / 768px * 100vw = 2.34vw, но не больше 18px
$font-size-body-long-tablet: min(
  1.953125vw,
  15px
); // 15px / 768px * 100vw = 1.95vw, но не больше 15px
$font-size-body-short-tablet: min(
  2.08333333333vw,
  16px
); // 16px / 768px * 100vw = 2.08vw, но не больше 16px
$font-size-link-tablet: min(
  1.82291666667vw,
  14px
); // 14px / 768px * 100vw = 1.82vw, но не больше 14px
$font-size-body-small-tablet: min(
  1.5625vw,
  12px
); // 12px / 768px * 100vw = 1.56vw, но не больше 12px

$font-size-h1-mobile: min(9.23076923077vw, 36px);
$font-size-h2-mobile: min(8.20512820513vw, 32px);
$font-size-h3-mobile: min(5.12820512821vw, 20px);
$font-size-h4-mobile: min(4.61538461538vw, 18px);
$font-size-body-long-mobile: min(3.84615384615vw, 15px);
$font-size-body-short-mobile: min(4.10256410256vw, 16px);
$font-size-link-mobile: min(3.58974358974vw, 14px);
$font-size-body-small-mobile: min(3.07692307692vw, 12px);

// Межстрочный интервал (line-height)
$line-height-h1-desktop: 95%;
$line-height-h2-desktop: 100%;
$line-height-h3-desktop: 120%;
$line-height-h4-desktop: 120%;
$line-height-body-long-desktop: 140%;
$line-height-body-short-desktop: 120%;
$line-height-link-desktop: 120%;
$line-height-body-small-desktop: 120%;
$line-height-explanation-text-m-desktop: 120%;
$line-height-explanation-text-s-desktop: 170%;

$line-height-h1-tablet: 95%;
$line-height-h2-tablet: 110%;
$line-height-h3-tablet: 110%;
$line-height-h4-tablet: 120%;
$line-height-body-long-tablet: 140%;
$line-height-body-short-tablet: 120%;
$line-height-link-tablet: 120%;
$line-height-body-small-tablet: 140%;

// Межстрочный интервал (line-height)
$line-height-h1-desktop: 95%;
$line-height-h2-desktop: 100%;
$line-height-h3-desktop: 120%;
$line-height-h4-desktop: 120%;
$line-height-body-long-desktop: 140%;
$line-height-body-short-desktop: 120%;
$line-height-link-desktop: 120%;
$line-height-body-small-desktop: 120%;
$line-height-explanation-text-m-desktop: 120%;
$line-height-explanation-text-s-desktop: 170%;

$line-height-h1-tablet: 95%;
$line-height-h2-tablet: 110%;
$line-height-h3-tablet: 110%;
$line-height-h4-tablet: 120%;
$line-height-body-long-tablet: 140%;
$line-height-body-short-tablet: 120%;
$line-height-link-tablet: 120%;
$line-height-body-small-tablet: 140%;

h1 {
  font-family: $font-family-book;
  font-size: $font-size-h1-desktop;
  line-height: $line-height-h1-desktop;

  @media (max-width: $container-width-tablet) {
    font-size: $font-size-h1-tablet;
    line-height: $line-height-h1-tablet;
  }

  @media (max-width: $container-width-mobile) {
    font-size: $font-size-h1-mobile;
    line-height: $line-height-h1-tablet;
  }
}

h2 {
  font-family: $font-family-regular;
  font-size: $font-size-h2-desktop;
  line-height: $line-height-h2-desktop;

  @media (max-width: $container-width-tablet) {
    font-size: $font-size-h2-tablet;
    line-height: $line-height-h2-tablet;
  }

  @media (max-width: $container-width-mobile) {
    font-size: $font-size-h2-mobile;
    line-height: $line-height-h2-tablet;
  }
}

h3 {
  font-family: $font-family-regular;
  font-size: $font-size-h3-desktop;
  line-height: $line-height-h3-desktop;

  @media (max-width: $container-width-tablet) {
    font-size: $font-size-h3-tablet;
    line-height: $line-height-h3-tablet;
  }

  @media (max-width: $container-width-mobile) {
    font-size: $font-size-h3-mobile;
    line-height: $line-height-h3-tablet;
  }
}

h4,
.h4 {
  font-family: $font-family-regular;
  font-size: $font-size-h4-desktop;
  line-height: $line-height-h4-desktop;

  @media (max-width: $container-width-tablet) {
    font-size: $font-size-h4-tablet;
    line-height: $line-height-h4-tablet;
  }

  @media (max-width: $container-width-mobile) {
    font-size: $font-size-h4-mobile;
    line-height: $line-height-h4-tablet;
  }
}

.body-long {
  font: $font-size-body-long-desktop / $line-height-body-long-desktop
    $font-family-regular !important;

  @media (max-width: $container-width-tablet) {
    font: $font-size-body-long-tablet / $line-height-body-long-tablet
      $font-family-regular !important;
  }

  @media (max-width: $container-width-mobile) {
    font: $font-size-body-long-mobile / $line-height-body-long-tablet
      $font-family-regular !important;
  }
}

.body-short {
  font: $font-size-body-short-desktop / $line-height-body-short-desktop
    $font-family-regular;

  @media (max-width: $container-width-tablet) {
    font: $font-size-body-short-tablet / $line-height-body-short-tablet
      $font-family-regular;
  }

  @media (max-width: $container-width-mobile) {
    font: $font-size-body-short-mobile / $line-height-body-short-tablet
      $font-family-regular;
  }
}

th {
  font: $font-size-body-short-desktop / $line-height-body-short-desktop
    $font-family-regular !important;

  @media (max-width: $container-width-tablet) {
    font: $font-size-body-short-tablet / $line-height-body-short-tablet
      $font-family-regular !important;
  }

  @media (max-width: $container-width-mobile) {
    font: $font-size-body-short-mobile / $line-height-body-short-tablet
      $font-family-regular !important;
  }
}

a,
button {
  // link
  font-family: $font-family-medium;
  font-size: $font-size-link-desktop;
  line-height: $line-height-link-desktop;

  @media (max-width: $container-width-tablet) {
    font-size: $font-size-link-tablet;
    line-height: $line-height-link-tablet;
  }

  @media (max-width: $container-width-mobile) {
    font-size: $font-size-link-mobile;
    line-height: $line-height-link-tablet;
  }
}

.body-small,
tr {
  font-family: $font-family-regular;
  font-size: $font-size-body-small-desktop;
  line-height: $line-height-body-small-desktop;

  @media (max-width: $container-width-tablet) {
    font-size: $font-size-body-small-tablet;
    line-height: $line-height-body-small-tablet;
  }

  @media (max-width: $container-width-mobile) {
    font-size: $font-size-body-small-mobile;
    line-height: $line-height-body-small-tablet;
  }
}

.explanation-text-m {
  font-family: $font-family-regular;
  font-size: $font-size-explanation-text-m-desktop;
  line-height: $line-height-explanation-text-m-desktop;
}

.explanation-text-s {
  font-family: $font-family-regular;
  font-size: $font-size-explanation-text-s-desktop;
  line-height: $line-height-explanation-text-s-desktop;
}
