@import "grid";
@import "navigation";
@import "fonts";
@import "typography";
@import "colors";
@import "buttons";
@import "footer";
@import "accordion";
@import "popupConfirmation";
@import "tag";
@import "bluePixel";

@import "annapurna/header";
@import "annapurna/additionalTable";
@import "annapurna/dynamicSharePrice";
@import "annapurna/fondTable";
@import "annapurna/commentUK";
@import "annapurna/managerBanner";
@import "annapurna/banner-2";
@import "annapurna/banner-4";
@import "annapurna/questions";

@import "voschod/headerBanner";
@import "voschod/advantages";
@import "voschod/team";
@import "voschod/banner-4-Voshozdenie";
@import "voschod/ourOffer";

@import "telescop/header";
@import "telescop/footer-banner";
@import "telescop/additionalTableTelescop";
@import "telescop/fondTableTelescop";
@import "telescop/commentUKTelescop";
@import "telescop/managerBannerTelescop";
@import "telescop/dynamicSharePriceTelescop";

@import "page-not-found/headerBanner";
@import "technicalWork/technicalWork";

@import "information-disclosure/selectInformation";

@import "contacts/contacts";

* {
  box-sizing: border-box;
}
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;

  font-family: "SuisseIntl", sans-serif;
  color: $light-grey;

  background-color: rgb(20, 19, 36);
  z-index: 0;
}

a {
  text-decoration: none;
  color: $light-blue;
}

a:hover,
button:hover {
  cursor: pointer;
}

ul.disc {
  list-style: disc;
  padding-left: 14px;

  transform: translateX(10px);
}

ol.decimal {
  list-style: decimal inside;
}
