@import "grid";
@import "header/header";
@import "fonts";
@import "typography";
@import "colors";
@import "buttons";
@import "footer";
@import "banner-2";
@import "banner-4";
@import "questions";
@import "accordion";
@import "additionalTable";
@import "dynamicSharePrice";
@import "fondTable";
@import "commentUK";
@import "managerBanner";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: "SuisseIntl", sans-serif;
  color: $light-grey;

  background-color: rgb(20, 19, 36);
  z-index: 0;
}

a {
  text-decoration: none;
  color: $light-blue;
}

a:hover,
button:hover {
  cursor: pointer;
}

ul.disc {
  list-style: disc;
  padding-left: 14px;
}

ol.decimal {
  list-style: decimal inside;
}
