.telescop {
  .additional-information {
    padding-top: 80px;
    padding-bottom: 112px;
    @media (max-width: $container-width-tablet) {
      padding-top: 64px;
      padding-bottom: 80px;
    }

    .additional-information-title {
      margin-bottom: 64px;
      padding-left: 8px;
      @media (max-width: $container-width-tablet) {
        margin-bottom: 48px;
      }
    }
    .additional-information-table {
      border-radius: 8px;
      padding: 24px 8px 24px 8px;
      border: 1px solid $blue-main;
      backdrop-filter: blur(30px);
      -webkit-backdrop-filter: blur(30px);
      background: $bg-20;
    }

    .column {
      display: flex;
      flex-direction: column;
      flex: 1;
      .row-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 8px;

        .cell.column-first {
          display: flex;
          flex: 1;
          min-height: 56px;
          align-items: center;
          color: $light-blue;
          padding: 16px;
          border-bottom: 1px solid $light-blue-50;

          @media (max-width: $container-width-tablet) {
            padding: 8px;
            min-height: 49px;
          }
          @media (max-width: $container-width-tablet) {
            flex: 50%;
          }
          &.light {
            background: $bg-15;
          }
          &.first-row {
            border-top: 1px solid $light-blue-50;
          }
        }

        .cell.column-second {
          min-height: 56px;
          display: flex;
          flex: 1;
          align-items: center;
          color: $light-grey;
          padding: 16px;
          border-bottom: 1px solid $light-blue-50;
          @media (max-width: $container-width-tablet) {
            padding: 8px;
            min-height: 49px;
          }
          @media (max-width: $container-width-tablet) {
            flex: 50%;
          }
          @media (max-width: $container-width-mobile-telescop) {
            word-break: break-word;
            overflow-wrap: break-word;
          }
          &.light {
            background: $bg-15;
          }
          &.first-row {
            border-top: 1px solid $light-blue-50;
          }
        }
      }
    }
  }
}
