.telescop {
  .banner-4 {
    background: no-repeat right top / cover url(../../images/Banner-4.svg);

    @media (max-width: $container-width-tablet) {
      background: no-repeat right top / cover
        url(../../images/banner-4-tablet.svg);
    }

    @media (max-width: $container-width-mobile) {
      background: no-repeat right top / cover
        url(../../images/banner-4-mobile.svg);
    }

    .banner-4-wrapper {
      padding: 80px 0;
      @media (max-width: $container-width-tablet) {
        padding: 64px 0;
      }
      @media (max-width: $container-width-mobile) {
        padding: 64px 0 282px;
      }
    }

    h2 {
      margin-bottom: 32px;
      @media (max-width: $container-width-tablet) {
        margin-bottom: 24px;
      }
    }
    p {
      margin-bottom: 96px;
      @media (max-width: $container-width-tablet) {
        margin-bottom: 64px;
        br {
          display: none;
        }
      }
      @media (max-width: $container-width-mobile) {
        margin-bottom: 80px;
      }
    }
    button {
      @media (max-width: $container-width-tablet) {
        max-width: 200px;
        max-height: 48px;
      }
      @media (max-width: $container-width-mobile) {
        max-width: 225px;
      }
    }
  }
}
